
*{background-color: #fffcfc
}

h1 ,h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(0, 0, 0);
}

ul {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(58, 5, 63);
}


    #bbq , #Beverages , #Dessertes ,#Extras {color: #ee3e80;
    }

    color: DarkCyan;
}

    /* hex code */
          {
        color: #ee3e80;}
    /* rgb value */
    {
    color: rgb(255, 0, 0);} */

    {
        background: white;
    } */

    {
        background-color: #efefef;
    }